@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}
/* #homepageHero {
  background-image: url("/imgs/hero.jpg");
  background-color: #332C11;
} */
